body {
  margin: 0;
  font-family: system-ui;
  background: #0f172a;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
}

.logo {
  width: 150px;
  margin-bottom: 15px;
}

.logo-small {
  width: 40px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #22c55e;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #020617;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-small {
  width: 36px;
}

.titulo {
  font-weight: bold;
  font-size: 1.1rem;
}

.menu {
  display: flex;
  gap: 10px;
}

.btn-nav {
  background: #1e293b;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.btn-nav:hover {
  background: #334155;
}

.sair {
  background: #dc2626;
}